@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

html,
body {
  width: 100%;
  height: 100%;
}
.content {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

a {
  all: unset;
}
a:link {
  /* 전체 밑줄 */
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}
/* 가상 클래스도 설정 해줘야함 대부분 a태그만 설정 해줌 */
a:visited {
  text-decoration: none;
  color: #333333;
}
/* 방문한 상태라면 */
a:active {
  text-decoration: none;
  color: #333333;
}
/* 마우스가 올라간 상태 */
a:hover {
  text-decoration: none;
  color: #333333;
}

/* Header */

header {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

header .head-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

header .headText {
  font-size: 2.2rem;
  font-weight: 700;
  cursor: pointer;
}

.CommonButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 1.4rem;
  font-weight: 700;
  white-space: normal;
}

.CommonButton_default {
  background-color: #fff;
  color: #fff;
  cursor: unset;
}

.CommonButton_detail {
  background-color: #0a174e;
  color: #f5d042;
}

.CommonButton_home_detail {
  background-color: #f5d042;
  color: #0a174e;
}

.CommonButton_positive {
  background-color: #000;
  color: #fff;
}

.CommonButton_negative {
  background-color: #fd565f;
  color: white;
}

.CommonButton_hash_tag {
  background-color: #0a174e;
  color: #f5d042;
  font-size: 12px;
  width: auto;
  margin-right: 10px;
}

/* Footer */

footer {
  height: 80px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 30px;
}

.Footer-link {
  line-height: 1.7;
}

/* Main */
.Main {
  min-height: 100vh;
  position: relative;
  padding: 60px 0 0 0;
}

/* Main Swiper */
.Main .banner {
  width: 100%;
  height: 500px;
}

.Main .banner .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
}

.swiper-button-prev:after {
  color: #fff;
}

.swiper-button-next:after {
  color: #fff;
}

.Swiper-back1 {
  background-image: url(/public/assets/main2.png);
}

.Swiper-back2 {
  background-color: #246fb6;
}

.Swiper-back3 {
  background-color: #3f8e3a;
}

.Swiper-back4 {
  background-color: #f03a35;
}

.Swiper-back5 {
  background-color: #ae1391;
}

/* Main ICON */

.Main .Icon-Title {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2;
  margin: 2% 0 0 0;
  padding: 0 8% 0 8%;
}

.Main .Icon-Content {
  display: flex;
  align-items: center;
}

.Main .Icon-Content > div {
  cursor: pointer;
  width: 100%;
}

.Main .Icon-Content > div:hover {
  cursor: pointer;
  background-color: #000;
  color: white;
  font-weight: 700;
  border-radius: 20%;
}

.Main .Icon-Content > div > span {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.Main .Icon-Content > div > span > svg {
  width: 100px;
  height: 180px;
}

/* Aboutme */

.Aboutme {
  padding: 60px 30px 30px 30px;
  position: relative;
}

.Aboutme > h2 {
  font-size: 1.8rem;
  margin-bottom: 2%;
  border-bottom: 2px solid #aaaaaa;
  padding-bottom: 15px;
}

.Aboutme img {
  width: 120px;
}

.Aboutme section {
  margin-bottom: 2%;
}

.Aboutme .Aboutme-Content {
  justify-content: space-around;
  border: 1px solid #aaaaaa;
}

.Aboutme .Aboutme-Content > div {
  padding: 30px;
  border-bottom: 1px solid #aaaaaa;
  font-size: 1.1rem;
}

.Aboutme table {
  width: 100%;
  height: 80px;
  border: 1px solid #000;
  border-collapse: collapse;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.87;
  text-align: center;
}

.Aboutme th,
td {
  /*width: 15%;*/
  border: 1px solid #000;
  padding: 10px;
}

.Aboutme th {
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
}

.Aboutme td {
  border: 1px solid #aaaaaa;
}

.Aboutme-Content-Table .Add-Row {
  -ms-grid-row-span: 2;
}

/* Skills */
.Skills {
  min-height: 100vh;
  position: relative;
  padding: 60px 30px 30px 30px;
}

.Skills > h2 {
  font-size: 1.8rem;
  margin-bottom: 2%;
  border-bottom: 2px solid #aaaaaa;
  padding-bottom: 15px;
}

.Skills .Skills-Icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid #aaaaaa;
}

.Skills .Skills-Icon-Last {
  border-bottom: none;
}

.Skills .Skills-Title {
  font-size: 1.3rem;
  font-weight: 700;
  padding-top: 3%;
}

.Skills .Skills-Title-First {
  padding-top: 0;
}

.Skills-Icon > span > svg {
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.Skills-Icon > span > svg:hover {
  background-color: #000;
  color: #fff;
  border-radius: 20%;
}

.Skills-Icon > span {
  font-size: 1.1rem;
  line-height: 1.87;
}

.Skills-content {
  text-align: left;
}

/* Archiving */

.inner .Archiving {
  min-height: 100vh;
}

.Archiving {
  padding: 60px 30px 30px 30px;
}

.Archiving > h2 {
  border-bottom: 2px solid #aaaaaa;
  padding-bottom: 15px;
}

.Archiving .Archiving-Group {
  align-items: center;
  justify-content: space-around;
  display: flex;
  min-height: 100vh;
}

.Archiving .Archiving-Group > div {
  text-align: center;
}

.Archiving-Git > span > svg {
  width: 140px;
  height: 120px;
  cursor: pointer;
}

.Archiving-T > span > svg {
  width: 140px;
  height: 120px;
  cursor: pointer;
}

.Archiving-content {
  font-size: 1.1rem;
}

/* Career */

.inner .Career {
  min-height: 100vh;
}

.Career {
  padding: 60px 30px 30px 30px;
}

.Career > h2 {
  border-bottom: 2px solid #aaaaaa;
  padding-bottom: 15px;
}

.Career .Career-1 {
  border: 2px solid #aaaaaa;
  padding: 30px;
  font-size: 1rem;
}

.Career .Career-1 > div {
  display: flex;
  justify-content: space-between;
}

.Creer-Border {
  border-bottom: 2px solid #aaaaaa;
  padding-bottom: 30px;
}

/* Project */

.Project {
  padding: 60px 30px 30px 30px;
}

.Project-Ptn {
  padding: 15px 30px 30px 30px;
  border-top: 2px solid #aaaaaa;
}

/* Modal */
.card {
  height: 400px;
  width: 310px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  padding: 10px;
}

.card-header {
  text-align: center;
  font-size: 1rem;
}

.card-body {
  border: 1px solid #aaaaaa;
  height: 245px;
  font-size: 0.9rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
  line-height: 1.6;
  padding: 5px;
}

.card > .card-btn {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
}

.ReactModalPortal > div {
  margin: 0 auto;
  min-height: 100vh;
  z-index: 1001;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.Modal-Header {
  margin-bottom: 20px;
  border-bottom: 1px solid #aaaaaa;
}

.Modal-close {
  float: right;
}

.Project > h2 {
  border-bottom: 2px solid #aaaaaa;
  padding-bottom: 15px;
}

.Project-content {
  font-size: 1rem;
  text-align: center;
}

.Project-content > .banner {
  height: 500px;
  margin-bottom: 15px;
}

.Modal-img > img {
  width: 65%;
  height: 80%;
}

.Modal-img-Mo > img {
  width: 15%;
  height: 80%;
}

.ReactModal__Content {
  margin: 0 auto;
  width: 60%;
}

.Project-content > .banner > .swiper-button-prev:after {
  color: #000;
}

.Project-content > .banner > .swiper-button-next:after {
  color: #000;
}

/*Nav*/

.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 0 2rem;*/
  font-size: 1.2rem;
  z-index: 99999;
}

.nav-logo {
  text-decoration: none;
  color: #fff;
  display: flex;
}

.nav-links {
  list-style: none;
  /* display: none; */
  /* flex-direction: column; */
  position: absolute;
  text-align: center;
  width: 250px;
  /* top: 80px; */
  right: -100%;
  transition: 0.5s all;
  height: 100vh;
  top: 0;
  padding: 120px;
  bottom: 0;
  margin: 0;
}

.nav-link,
.active {
  background-color: #fff;
  right: 0%;
  transition: 0.5s all;
}

.nav-item {
  padding: 30px 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  transition: 0.3s all;
}

.nav-link:hover {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}

.nav-icon {
  display: flex;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 1003;
}
